.add-list {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  padding: 25px 0;
}

.add-list__portion {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}

.add-list__slogan {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
}

.add-list__link {
  text-decoration: none;
}
