.add-catalog {
  @include list-reset;
}

.add-catalog__link {
  text-decoration: none;
  display: block;
}

.add-catalog__title {
  color: $special_dark-grey;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.add-catalog__item {
  display: flex;
  flex-direction: column;
  padding: 14px 0 17px;
  border-top: 1px solid $special_grey;

  &:last-child {
    border-bottom: 1px solid $special_grey;
  }
}

.add-catalog__descript {
  margin: 0;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.add-catalog__victory {
  color: $white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-catalog.png");
  background-repeat: no-repeat;
  height: 290px;
  margin: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-catalog@2x.jpg");
    background-size: 280px 290px;
  }

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/tablet/cat-catalog-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/tablet/cat-catalog-tablet@2x.jpg");
      background-size: 707px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-catalog-desktop.png");

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-catalog-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.add-catalog__victory-img {
  display: block;
  width: 78px;
  height: 80px;
  background: url("../../img/catalog/icon_gift.svg"), no-repeat;
  margin-top: 58px;
}

.add-catalog__victory-text {
  display: block;
  width: 161px;
  margin-top: 48px;
}

@media (min-width: $tablet-width) {
  .add-catalog__title {
    font-size: 20px;
    line-height: 20px;
  }

  .add-catalog__item {
    display: grid;
    grid-template-columns: 1fr 225px;
    padding: 26px 38px 28px;
    border: 1px solid $special_grey;
    border-bottom: none;
    row-gap: 24px;
  }

  .add-catalog__victory {
    margin: 70px 0 75px;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    padding: 0 120px 0 75px;
  }

  .add-catalog__victory-img {
    margin-top: 0;
  }

  .add-catalog__victory-text {
    margin-top: 0;
    text-align: start;
    width: 165px;
  }

  .add-catalog__descript {
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog__item {
    grid-template-columns: 290px 280px 1fr;
    align-items: center;
    gap: 40px;
    padding: 15px 0;
    border: none;
    border-top: 1px solid $special_grey;
  }

  .add-catalog__victory {
    width: 245px;
    height: 288px;
    margin: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 55px 40px 40px;
  }

  .add-catalog__title {
    width: 330px;
  }

  .add-catalog__descript {
    grid-template-columns: 2fr 1fr;
  }

  .add-catalog__victory-img {
    margin-bottom: 45px;
  }

  .add-catalog__victory-text {
    text-align: center;
  }
}
