.add-catalog {
  @include list-reset;
}

.add-products__list {
  padding: 13px 0 19px;
}

.add-catalog__link {
  text-decoration: none;
  display: block;
}

.add-catalog__title {
  color: $special_dark-grey;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.add-catalog__item {
  padding: 12px 0 19px;
}

.add-catalog__descript {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 15px;
}

/*.add-catalog__item:last-child {
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-catalog.png");
  background-repeat: no-repeat;
  height: 290px;
}*/

.add-catalog__victory {
  position: relative;
  padding-top: 175px;
  color: $white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-catalog.png");
  background-repeat: no-repeat;
  height: 290px;
}

.add-catalog__victory::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  background: url("../../img/catalog/icon_gift.svg"), no-repeat;
  top: 45px;
  right: 45px;
}

@media (min-width: $tablet-width) {
  .add-catalog__title {
    font-size: 20px;
    line-height: 20px;
  }

  .add-products__list {
    padding: 26px 37px 28px;
  }

  .add-catalog__item {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
