.add-products__title {
  margin: 0;
  margin-bottom: 36px;
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.add-products__list {
  padding: 13px 0 19px;
}

@media (min-width: $tablet-width) {
  .add-products__title {
    font-size: 36px;
    line-height: 36px;
  }

  .add-products__list {
    padding: 26px 37px 28px;
  }
}

@media (min-width: $desktop-width) {
  .add-products__pack {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 87px;
  }

  .add-products__list {
    width: 895px;
    padding: 0;
  }
}
