.add-list {
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.add-list__portion {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 57px;
  margin-bottom: 8px;
}

.add-list__slogan {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
}

.add-list__link {
  text-decoration: none;
  display: block;
}

@media (min-width: $tablet-width) {
  .add-list__portion {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    margin: 98px auto 22px;
  }

  .add-list__slogan {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto 80px;
  }
}

@media (min-width: $desktop-width) {
  .add-list__portion {
    margin: 93px auto 25px;
  }

  .add-list__slogan {
    margin-bottom: 89px;
  }
}
