.add-catalog {
  @include list-reset;
}

.add-catalog__link {
  text-decoration: none;
  display: block;
}

.add-catalog__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.add-catalog__item {
  padding: 12px 0 19px;
}

.add-catalog__item:last-child {
  background-image: url("../img/catalog/cat-catalog.png");
  background-repeat: no-repeat;
  height: 290px;
}

.add-catalog__victory {
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
