.contacts__container {
  &--grey {
    background-color: $lightgrey;
  }
}

.contacts__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.contacts__invite {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  font-weight: 400;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 140px;
}

.contacts__map {
  min-width: 320px;
  margin: 0 -20px;
}

.contacts iframe {
  border: none;
  display: block;
  width: 320px;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 61px 38px;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 26px;
    width: 165px;
  }

  .contacts__address {
    font-size: 16px;
    width: 157px;
    height: 80px;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contacts__map {
    margin: 0 -30px;
  }

  .contacts iframe {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    z-index: 1;
    width: 565px;
    height: 199px;
    padding: 60px 74px 60px 80px;
    background-color: $white;
    top: 95px;
  }

  .contacts__container {
    position: relative;
    height: 400px;
  }

  .contacts__map {
    width: 1440px;
    margin: 0 -110px;
  }

  .contacts iframe {
    width: 100%;
    height: 400px;
  }

  .contacts__address {
    text-align: start;
    width: 160px;
    margin-top: -4px;
  }
}
