.contacts__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.contacts__invite {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 61px 50px;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    font-size: 16px;
    width: 157px;
    height: 80px;
    text-align: end;
  }

  .contacts__map {
    width: 768px;
    height: 400px;
  }
}
