.control {
  display: flex;
  height: 26px;
  align-items: center;
  position: relative;
}

.control__label {
  padding-left: 41px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $special_grey;
    top: 0;
    left: 0;
  }
}

.control__input[type="checkbox"]:checked + .control__label {
  &::before {
    background: center no-repeat url("../../img/form/checkbox.svg");
  }
}

@media (min-width: $tablet-width) {
  .control {
    height: 40px;
  }

  .control__label {
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .control__input[type="checkbox"]:checked + .control__label {
    &::before {
      background-size: 26px 26px;
    }
  }
}
