.copyright__text {
  text-decoration: none;
  color: inherit;
  align-self: center;
}

.copyright__link {
  text-decoration: none;
}

.copyright {
  &:hover {
    .copyright__link path {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;

    .copyright__link path {
      fill: $green;
    }
  }
}
