.descript {
  font-size: 16px;
  line-height: 20px;
}

.descript__meaning {
  margin: 0;
  text-align: end;
}

.descript__property {
  text-align: start;
}

@media (max-width: $tablet-width) {
  .descript {
    &--main {
      font-size: 12px;
      line-height: 16px;
    }

    &--add {
      font-size: 14px;
      line-height: 14px;
      text-align: end;
    }
  }
}
