.description-product__wrapper {
  margin-bottom: 30px;
}

.description-product__title {
  margin-bottom: 40px;
}

.description-product__list {
  @include list-reset;
  display: grid;
  gap: 26px;
  padding-bottom: 20px;
}

.description-product__item {
  position: relative;
  min-height: 60px;
  align-self: center;

  &--benefit::before {
    background: url("../../img/main-page/technology-benefit.png") no-repeat;
  }

  &--comfort::before {
    background: url("../../img/main-page/technology-comfort.png") no-repeat;
  }

  &--guide::before {
    background: url("../../img/main-page/technology-change.png") no-repeat;
  }

  &--result::before {
    background: url("../../img/main-page/technology-period.png") no-repeat;
  }
}

.description-product__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
}

.description-product__text {
  margin: 0;
  margin-left: 78px;
  min-width: 200px;
  min-height: 54px;
}

@media (min-width: $tablet-width) {
  .description-product__wrapper {
    margin-bottom: 47px;
  }

  .description-product__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  .description-product__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 154px;
  }

  .description-product__item {
    width: 230px;
  }

  .description-product__text {
    margin: 150px 0 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .description-product__item::before {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .description-product__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 95px;
    margin-bottom: 69px;
  }

  .description-product__item {
    width: 230px;
  }
}
