.form__personal-list {
  @include list-reset;
  @include grey-line-form;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding-bottom: 22px;
}

.form__primary-data,
.form__contact-data,
.form__comment,
.form__additional {
  @include fieldset-edit;
}

.form__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.form__programs-list {
  @include list-reset;
  @include grey-line-form;
  position: relative;
  padding: 22px 0 18px;
  margin-bottom: 27px;

  .form__label {
    position: relative;
    padding-left: 45px;
    height: 30px;
    padding-top: 6px;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      background-color: $white;
      border: 1px solid $special_grey;
      border-radius: 50%;
      left: 0;
      top: 0;
    }
  }

  .form__input[type="radio"]:checked + .form__label {
    &::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      background-color: $green;
      border-radius: 50%;
      left: 8px;
      top: 9px;
    }
  }
}

.form__title {
  display: flex;
  width: 280px;
  align-items: center;
  margin-bottom: 30px;
}

.form__legend {
  max-width: 165px;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.form__title-line {
  height: 2px;
  background-color: $green;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: -20px;
}

.form__contact-imputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 22px;

  .form__control {
    position: relative;
  }

  .form__svg {
    position: absolute;
    right: 12px;
  }
}

.form__input {
  font: inherit;
  color: $dark-grey;
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 13px;
  height: 100%;
  padding: 0 12px;
}

.form__comment {
  .form__title {
    margin-bottom: 37px;
  }
}

.form__textarea {
  font: inherit;
  color: $dark-grey;
  text-transform: uppercase;
  width: 100%;
  padding: 14px;
  height: 150px;
  margin-bottom: 28px;
}

.form__additional {
  .form__title {
    margin-bottom: 33px;
  }
}

.form__add-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 33px;
}

.form__footnote {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.form__button {
  margin-bottom: 21px;
}

.form__add-item {
  width: 225px;
}

@media (min-width: $tablet-width) {
  .form__add-list {
    padding: 57px 50px 52px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .form__wrap-button {
    display: flex;
    gap: 60px;
    padding-left: 60px;
  }

  .form__button {
    width: 284px;
    height: 54px;
    padding: 14px 45px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__add-list {
    flex-direction: row;
    justify-content: flex-start;
    padding: 57px 0 60px;
  }

  .form__wrap-button {
    gap: 80px;
    padding-left: 0;
  }

  .form__button {
    width: 570px;
    height: 54px;
    padding: 14px 188px;
  }
}
