.form__personal-list {
  @include list-reset;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding-bottom: 22px;

  @media (max-width: $mobile-width-max) {
    @include grey-line-form;
  }
}

.form__primary-data,
.form__contact-data,
.form__comment,
.form__additional {
  @include fieldset-edit;
}

.form__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.form__programs-list {
  @include list-reset;
  position: relative;
  padding: 15px 0 10px;
  margin-bottom: 27px;

  @media (max-width: $mobile-width-max) {
    @include grey-line-form;
  }

  .form__label {
    position: relative;
    padding-left: 45px;
    height: 30px;
    padding-top: 6px;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      background-color: $white;
      border: 1px solid $special_grey;
      border-radius: 50%;
      left: 0;
      top: 0;
    }
  }

  .form__label:hover {
    &::before {
      border-color: #bababa;
    }
  }

  input[type="radio"]:disabled + .form__label {
    opacity: 0.3;
  }

  .form__input[type="radio"]:checked + .form__label {
    &::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      background-color: $green;
      border-radius: 50%;
      left: 8px;
      top: 9px;
    }
  }
}

.form__title {
  max-width: 207px;
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: $white;
  padding-right: 20px;
  position: relative;
  margin-bottom: 35px;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 1000vw;
    background-color: $green;
    left: 0;
    top: 15px;
    z-index: -1;
  }
}

.form__contact-imputs {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 25px;

  .form__control {
    position: relative;
  }

  .form__svg {
    position: absolute;
    right: 12px;
  }
}

.form__input {
  font: inherit;
  color: $dark-grey;
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 15px;
  height: 100%;
  padding: 0 12px;
  border: 1px solid $grey-form;

  &:hover {
    border-color: $special_grey;
  }

  &:focus {
    outline: none;
    border-color: $dark-grey;

    ~ .form__svg path {
      stroke: $green;
    }
  }

  &--input-error {
    border-color: #ff8282;

    ~ .form__svg path {
      stroke: #ff8282;
    }
  }
}

.form__comment {
  .form__title {
    margin-bottom: 37px;
  }
}

.form__textarea {
  font: inherit;
  color: $dark-grey;
  text-transform: uppercase;
  width: 100%;
  padding: 14px;
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid $grey-form;
}

.form__additional {
  .form__title {
    margin-bottom: 38px;
  }
}

.form__add-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 37px;
}

.control__label:hover {
  &::before {
    border-color: #bababa;
  }
}

input[type="checkbox"]:disabled + .control__label {
  opacity: 0.3;
}

.form__footnote {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  display: block;
  text-align: center;
}

.form__button {
  @include status-green-button;
  margin-bottom: 20px;
  padding: 10px 78px;
  font-size: 16px;
  line-height: 20px;
}

.form__add-item {
  width: 225px;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form__title {
    max-width: none;
    font-size: 36px;
    line-height: 36px;
    position: relative;
    padding: 0 40px;
    margin-left: -40px;

    &::before {
      left: -100%;
      top: 22px;
    }
  }

  .form__add-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 120px;
    margin-bottom: 52px;
  }

  .form__wrap-button {
    display: flex;
    gap: 60px;
    font-size: 20px;
    line-height: 26px;
  }

  .form__button {
    width: 284px;
    padding: 14px 45px;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }

  .form__personal-list {
    row-gap: 20px;
    padding-bottom: 0;
    margin-bottom: 73px;
  }

  .form__control {
    height: 52px;
  }

  .form__input {
    padding: 0 18px;
  }

  .form__programs-list {
    border: 1px solid $grey-form;
    padding: 25px 26px 25px 26px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-bottom: 60px;

    .form__control {
      height: 40px;
    }

    .form__label {
      padding-left: 60px;
      height: 40px;
      padding-top: 0;

      &::before {
        width: 40px;
        height: 40px;
        top: -5px;
      }
    }

    .form__input[type="radio"]:checked + .form__label {
      &::after {
        width: 18px;
        height: 18px;
        left: 11px;
        top: 8px;
      }
    }
  }

  .form__contact-data {
    .form__title {
      margin-bottom: 75px;
    }
  }

  .form__comment {
    .form__title {
      margin-bottom: 88px;
    }
  }

  .form__additional {
    .form__title {
      margin-bottom: 57px;
    }
  }

  .form__contact-imputs {
    gap: 20px;
    margin-bottom: 65px;
  }

  .form__textarea {
    height: 175px;
    margin-bottom: 60px;
    padding: 10px 20px;
  }

  .form__footnote {
    font-size: 16px;
    padding-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .form__primary-data {
    display: flex;
    gap: 80px;
    margin-bottom: 60px;
  }

  .form__personal-list,
  .form__programs-list {
    flex-grow: 1;
    margin-bottom: 0;
    max-width: 570px;
  }

  .form__programs-list {
    padding: 27px 26px;
  }

  .form__contact-data {
    .form__title {
      margin-bottom: 77px;
    }
  }

  .form__contact-imputs {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 70px;

    .form__svg {
      right: 15px;
    }
  }

  .form__control {
    flex-grow: 0;
  }

  .form__comment {
    .form__title {
      margin-bottom: 77px;
    }
  }

  .form__additional {
    .form__title {
      margin-bottom: 56px;
    }
  }

  .form__add-list {
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    margin-bottom: 60px;
  }

  .form__wrap-button {
    gap: 80px;
    padding-left: 0;
  }

  .form__button {
    width: 570px;
    padding: 14px 188px;
  }

  .form__control--email {
    min-width: 569px;
  }

  .form__control--phone {
    min-width: 572px;
  }

  .form__input {
    padding: 0 0 0 18px;
    flex-grow: 1;
  }

  .form__textarea {
    margin-bottom: 70px;
  }
}
