.form__personal-list {
  @include list-reset;
}

.form__programs-list {
  @include list-reset;
}

.form__add-list {
  @include list-reset;
}

.form__input {
  font: inherit;
  color: $dark-grey;
  text-transform: uppercase;
}

.form__textarea {
  font: inherit;
  color: $dark-grey;
  text-transform: uppercase;
}

.form__footnote {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.form__button {
  margin-bottom: 21px;
}

.form__add-item {
  width: 225px;
}

@media (min-width: $tablet-width) {
  .form__add-list {
    padding: 57px 50px 52px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media (min-width: $desktop-width) {
  .form__add-list {
    flex-direction: row;
    justify-content: flex-start;
    padding: 57px 0 60px;
  }
}
