.form-selection {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $line-grey;
    }
  }
}

.form-selection__wrapper {
  padding-top: 27px;
  padding-bottom: 32px;
}

.form-selection__title {
  margin-bottom: 37px;
  line-height: 36px;
  text-transform: none;
}

.form-selection__manual {
  font-size: 14px;
  margin: 0 0 39px;
}

@media (min-width: $tablet-width) {
  .form-selection__wrapper {
    margin-top: 65px;
    padding: 0 70px 60px;
  }

  .form-selection__title {
    margin-bottom: 50px;
    font-size: 60px;
    line-height: 60px;
  }

  .form-selection__manual {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-bottom: 65px;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .form-selection__wrapper {
    margin-top: 70px;
    padding: 0 110px 79px;
  }

  .form-selection__title {
    margin-bottom: 55px;
  }
}
