.main-header {
  background-color: $white;
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 0;

  @media (min-width: $tablet-width) {
    padding: 25px 0 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 32px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
