.main-catalog {
  @include list-reset;
  padding-bottom: 25px;
}

.main-catalog__item {
  padding-top: 23px;
  padding-bottom: 23px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr;
  row-gap: 20px;
  position: relative;

  @media (max-width: $mobile-width-max) {
    &:first-of-type::before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $grey-catalog;
      width: 1000vw;
      left: -100%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $grey-catalog;
      width: 1000vw;
      left: -100%;
      top: 210px;
    }
  }

  &--next {
    grid-template-columns: 1fr;
  }
}

.main-catalog__structure {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.main-catalog__link {
  text-decoration: none;
  display: block;

  &--image {
    align-self: center;
    justify-self: center;
  }
}

.main-catalog__title {
  margin: 0;
  color: $special_dark-grey;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: start;
  width: 76px;
}

.main-catalog__descript {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-catalog__next {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #d3d3d3;
    top: 18px;
    right: 125px;
  }

  &::before {
    transform: rotate(90deg);
  }
}

@media (min-width: $tablet-width) {
  .main-catalog__structure {
    gap: 20px;
    width: 100%;
    margin-bottom: 33px;
  }

  .main-catalog__title {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    margin: 0 auto;
    text-align: center;
  }

  .main-catalog__item {
    width: 324px;
    padding: 10px 37px 40px 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    row-gap: 0;

    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        width: 324px;
        height: 430px;
        bottom: 0;
        background-color: $lightgrey;
        z-index: -1;
      }
    }
  }

  .main-catalog__image {
    &--small {
      width: 161px;
      height: 172px;
      margin: 19px 20px;
    }

    &--big {
      width: 168px;
      height: 206px;
      margin: 2px 16px;
    }
  }

  .main-catalog__descript {
    row-gap: 6px;
  }

  .main-catalog__item:last-child {
    background-color: $white;
    border: 2px solid $lightgrey;
  }

  .main-catalog__link {
    &--image {
      height: 210px;
      width: 200px;
      margin-bottom: 25px;
    }
  }

  .main-catalog__item--next {
    align-self: flex-end;
    padding: 50px 20px 40px 20px;
  }

  .main-catalog__next {
    &::before,
    &::after {
      height: 2px;
      width: 60px;
      top: 30px;
      right: 95px;
    }
  }

  .main-catalog__descript dt,
  .main-catalog__descript dd {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__item {
    width: 245px;
    padding: 0 38px 40px 38px;

    &:not(:last-child) {
      &::before {
        width: 245px;
      }
    }

    &--next {
      height: 430px;
      align-self: flex-end;
      padding: 50px 20px 40px 20px;
    }
  }

  .main-catalog__link {
    &--image {
      width: 169px;
      margin-bottom: 10px;
      margin-top: 8px;
    }
  }

  .main-catalog__image {
    &--small {
      margin: 19px 3px;
    }

    &--big {
      width: 172px;
      height: 196px;
      margin: 0;
    }
  }

  .main-catalog__structure {
    gap: 25px;
  }

  .main-catalog__next {
    &::before,
    &::after {
      right: 55px;
      top: 25px;
    }
  }
}
