.promo {
  background-image: url("../img/main-page/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.promo__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
}

.slogan {
  text-transform: uppercase;
}

.slogan--mobile {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

