.products {
  @include line-after-header;
  position: relative;
}

.products__title {
  padding-top: 27px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .products__wrapper {
    margin-bottom: 50px;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
  }

  .products__title {
    padding-top: 65px;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 60px;
  }

  .products__title {
    padding-top: 74px;
    margin-bottom: 88px;
  }
}
