.promo {
  background-image: url("../img/main-page/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.promo__wrapper {
  margin-bottom: 20px;
  padding-top: 27px;
}

.promo__title {
  color: #ffffff;
  line-height: 36px;
  margin-bottom: 25px;
}

.promo__slogan {
  margin-bottom: 30px;
  display: block;
}

.slogan {
  text-transform: uppercase;
}

.slogan--mobile {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
