.promo {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main-page/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: top;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.promo__wrapper {
  margin-bottom: 20px;
  padding-top: 27px;
}

.promo__title {
  color: $white;
  line-height: 36px;
  margin-bottom: 25px;
}

.promo__slogan {
  margin-bottom: 30px;
  display: block;
}

.promo__link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo__title {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-bottom: 40px;
    margin-left: 90px;
    text-align: start;
  }
}
