.social {
  padding: 20px 0 15px;
  border-bottom: 1px solid $line-grey;
  border-top: 1px solid $line-grey;
  min-width: 320px;
}

.social__list {
  @include list-reset;
  width: 132px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social__link {
  color: $footer_ligh-grey;

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.3;
    color: $green;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding-left: 30px;
    padding-top: 15px;
  }
}
