.title-common {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
