.weight__title {
  grid-area: title;
  margin: 10px 0 15px;
}

.weight__img {
  grid-area: img;

  &--cat-goes {
    margin-left: -7px;
  }
}

.weight__description {
  margin: 0;
  margin-bottom: 5px;
  grid-area: descript;
  padding-bottom: 20px;
  border-bottom: 1px solid $line-grey;
}

.weight__link {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: $black;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-style: none;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $black;
  }
}

.weight__link--slim {
  padding: 11px 0;

  &::before {
    top: 13px;
    right: 28px;
  }

  &::after {
    top: 18px;
    left: 102px;
  }

  &:hover {
    &::before {
      left: 123px;
    }

    &::after {
      width: 26px;
      right: 41px;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      left: 123px;
    }

    &::after {
      width: 26px;
      right: 41px;
    }
  }
}

.weight__link--pro {
  &::before {
    top: 2px;
    left: 118px;
  }

  &::after {
    top: 7px;
    right: 35px;
  }

  &:hover {
    &::before {
      left: 126px;
    }

    &::after {
      width: 26px;
      right: 27px;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      left: 126px;
    }

    &::after {
      width: 26px;
      right: 27px;
    }
  }
}

.weight__arrow {
  grid-area: link;
  align-self: center;
  width: 165px;
  padding-right: 11px;

  &--pro {
    height: 35px;
    margin-bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .weight__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .weight__img {
    padding-top: 5px;
    padding-left: 5px;

    &--cat-goes {
      margin-top: 15px;
      margin-left: -25px;
    }
  }

  .weight__description {
    border: none;
    padding-bottom: 0;
    width: 340px;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    margin-top: -10px;
    margin-bottom: 15px;
  }

  .weight__link {
    margin-top: 10px;
  }

  .weight__link--slim {
    padding: 8px 0;

    &::before {
      right: 0;
      top: 11px;
    }

    &::after {
      top: 16px;
      left: 130px;
    }

    &:hover {
      &::before {
        left: 155px;
      }

      &::after {
        width: 26px;
        right: 0;
      }
    }

    &:active {
      opacity: 0.3;

      &::before {
        left: 155px;
      }

      &::after {
        width: 26px;
        right: 0;
      }
    }
  }

  .weight__link--pro {
    padding-top: 10px;

    &::before {
      top: 10px;
      left: 145px;
    }

    &::after {
      right: 9px;
      top: 15px;
    }

    &:hover {
      &::before {
        left: 150px;
      }

      &::after {
        width: 26px;
        right: 0;
      }
    }

    &:active {
      opacity: 0.3;

      &::before {
        left: 150px;
      }

      &::after {
        width: 26px;
        right: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .weight__title {
    align-self: center;
    margin-top: 5px;
  }

  .weight__description {
    width: 457px;
    margin-top: 13px;
    margin-bottom: 0;
  }

  .weight__arrow {
    align-self: flex-end;
    margin-bottom: 0;
    padding-left: 5px;

    &--slim {
      padding-bottom: 5px;
    }

    &--pro {
      padding-left: 5px;
      padding-top: 15px;
    }
  }

  .weight__link {
    margin-top: 0;
    padding-top: 0;

    &--slim {
      padding: 0;

      &::before {
        right: -5px;
        top: 2px;
      }

      &::after {
        top: 7px;
        left: 130px;
      }

      &:hover {
        &::before {
          left: 155px;
        }

        &::after {
          width: 26px;
          right: 0;
        }
      }

      &:active {
        opacity: 0.3;

        &::before {
          left: 155px;
        }

        &::after {
          width: 26px;
          right: 0;
        }
      }
    }

    &--pro {
      &::before {
        top: 3px;
        left: 145px;
      }

      &::after {
        right: 4px;
        top: 8px;
      }

      &:hover {
        &::before {
          left: 150px;
        }

        &::after {
          width: 26px;
          right: -4px;
        }
      }

      &:active {
        opacity: 0.3;

        &::before {
          left: 150px;
        }

        &::after {
          width: 26px;
          right: -4px;
        }
      }
    }
  }

  .weight__img {
    width: 100px;
    height: 106px;

    &--cat-goes {
      margin-left: -19px;
      margin-top: 5px;
      width: 134px;
      height: 100px;
    }
  }
}
