.page {
  height: 100%;
}

.page-body {
  margin: 0;
  width: 320px;
  background-color: #ffffff;
  color: #444444;
  font-style: normal;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
